 <footer>
        <p>&copy; 2023 Bakery</p>
        <section class="phones">
            {{#each phones}}
            <a href="{{url}}">{{phone}}</a>
            {{/each}}
        </section>
        <nav>
            <ul>
                 {{#each itemsp}}
                <li><a href="#">{{item}}</a></li>
                {{/each}}

            </ul>
        </nav>
    </footer>